/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.json
composer.lock
package-lock.json
package.json
webpack.mix.js
/public/vendor

